<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Klubów</title>
</head>
<body class="container mt-4">
    <h1 class="text-center">Lista Klubów</h1>
    <table class="kluby">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Miasto</th>
                <th>Liga</th>
                <th>Punkty</th>
            </tr>
        </thead>
        <tbody>
            {% for klub in kluby %}
            <tr>
                <td>{{ klub.nazwa }}</td>
                <td>{{ klub.miasto }}</td>
                <td>{{ klub.liga }}</td>
                <td>{{ klub.statystyki.liczba_punktow }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>